:root {

    // themes color
    --color-primary: #FF3600;
    --color-secondary: #1F1F25;
    --color-bg: #121212;
    --color-bg-two: #1A1A1A;
    --color-bg-three: #252525;

    // body color
    --color-body: #555555;
    --color-body-two: #B5B5B5;
    --color-gray: #F6F6F6;
    
    // title color
    --color-heading: #050B20;
    --color-white: #fff;

    // clip path
    --clip-path: polygon( 0% 19.831%,0% 19.831%,0.058% 19.147%,0.225% 18.498%,0.493% 17.892%,0.852% 17.339%,1.293% 16.848%,1.808% 16.426%,2.386% 16.083%,3.02% 15.827%,3.699% 15.667%,4.415% 15.612%,29.581% 15.612%,29.581% 15.612%,30.297% 15.557%,30.976% 15.397%,31.61% 15.141%,32.188% 14.798%,32.702% 14.376%,33.144% 13.884%,33.503% 13.331%,33.771% 12.726%,33.938% 12.077%,33.996% 11.392%,33.996% 4.219%,33.996% 4.219%,34.053% 3.535%,34.221% 2.886%,34.488% 2.28%,34.847% 1.727%,35.289% 1.236%,35.803% 0.814%,36.382% 0.471%,37.015% 0.215%,37.694% 0.055%,38.411% 0%,97.792% 0%,97.792% 0%,98.151% 0.028%,98.49% 0.108%,98.807% 0.235%,99.096% 0.407%,99.353% 0.618%,99.574% 0.864%,99.754% 1.14%,99.887% 1.443%,99.971% 1.767%,100% 2.11%,100% 79.958%,100% 79.958%,99.942% 80.642%,99.775% 81.291%,99.507% 81.897%,99.148% 82.45%,98.707% 82.941%,98.192% 83.363%,97.614% 83.706%,96.98% 83.962%,96.301% 84.122%,95.585% 84.177%,88.411% 84.177%,88.411% 84.177%,87.694% 84.232%,87.015% 84.392%,86.382% 84.648%,85.803% 84.991%,85.289% 85.413%,84.847% 85.905%,84.488% 86.458%,84.221% 87.063%,84.053% 87.712%,83.996% 88.397%,83.996% 95.781%,83.996% 95.781%,83.938% 96.465%,83.771% 97.114%,83.503% 97.72%,83.144% 98.273%,82.702% 98.764%,82.188% 99.186%,81.61% 99.529%,80.976% 99.785%,80.297% 99.945%,79.581% 100%,2.208% 100%,2.208% 100%,1.849% 99.972%,1.51% 99.892%,1.193% 99.765%,0.904% 99.593%,0.647% 99.382%,0.426% 99.136%,0.246% 98.86%,0.113% 98.557%,0.029% 98.233%,0% 97.89%,0% 19.831% );
    --clip-path-two: polygon( 3.81% 0.118%,96.19% 0.118%,96.19% 0.118%,96.789% 0.166%,97.357% 0.304%,97.886% 0.526%,98.37% 0.823%,98.8% 1.189%,99.169% 1.615%,99.469% 2.094%,99.693% 2.618%,99.833% 3.181%,99.881% 3.774%,99.881% 80.66%,99.881% 80.66%,99.833% 81.253%,99.693% 81.816%,99.469% 82.34%,99.169% 82.819%,98.8% 83.245%,98.37% 83.611%,97.886% 83.908%,97.357% 84.13%,96.789% 84.268%,96.19% 84.316%,87.619% 84.316%,87.619% 84.316%,86.982% 84.367%,86.377% 84.514%,85.814% 84.75%,85.299% 85.067%,84.841% 85.456%,84.448% 85.909%,84.129% 86.419%,83.891% 86.978%,83.742% 87.576%,83.69% 88.208%,83.69% 96.226%,83.69% 96.226%,83.642% 96.819%,83.502% 97.382%,83.279% 97.906%,82.978% 98.385%,82.61% 98.811%,82.18% 99.177%,81.696% 99.474%,81.166% 99.696%,80.599% 99.834%,80% 99.882%,3.81% 99.882%,3.81% 99.882%,3.211% 99.834%,2.643% 99.696%,2.114% 99.474%,1.63% 99.177%,1.2% 98.811%,0.831% 98.385%,0.531% 97.906%,0.307% 97.382%,0.167% 96.819%,0.119% 96.226%,0.119% 3.774%,0.119% 3.774%,0.167% 3.181%,0.307% 2.618%,0.531% 2.094%,0.831% 1.615%,1.2% 1.189%,1.63% 0.823%,2.114% 0.526%,2.643% 0.304%,3.211% 0.166%,3.81% 0.118% );

    // Border
    --color-border: #DDD8F9;
    --color-border-two: rgba(85, 85, 85, 0.5);
    --color-border-three: rgba(80, 80, 80, 0.3);
    --border-width: 1px;
    --radius: 10px;

    // notify Colors
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;


    //Social icon colors
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;


    // Font weight
    --f-light: 300;
    --f-regular: 400;
    --f-medium: 500;
    --f-semi-bold: 600;
    --f-bold: 700;
    --f-extra-bold: 800;
    --f-black: 900;

    //transition easing
    --transition: all 0.3s;


    // Font Family
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --font-3: 'fontawesome';
    //Fonts Size
    --font-size-b1: 16px;

    --font-size-b2: 16px;
    --font-size-b3: 22px;


    //Line Height
    --line-height-b1: 26px;

    --line-height-b2: 26px;
    --line-height-b3: 1.7;


    // Heading Font
    --h1: 60px;
    --h2: 54px;
    --h3: 48px;
    --h4: 40px;
    --h5: 34px;
    --h6: 24px;

}

// Layouts Variation
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$smlg-device: 'only screen and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$mdsm-layout: 'only screen and (max-width: 991px)';
$sm-layout: 'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';